## Text classification

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

In [5]:
df = pd.read_csv('Data/MovieSummaries/plots_genres.csv')
df.head()

,id,text,title,genre
0,23890098,shlykov a hardworking taxi driver and lyosha a...,Taxi Blues,"['Drama', 'World cinema']"
1,31186339,the nation of panem consists of a wealthy capi...,The Hunger Games,"['Action/Adventure', 'Science Fiction', 'Actio..."
2,20663735,poovalli induchoodan is sentenced for six year...,Narasimham,"['Musical', 'Action', 'Drama', 'Bollywood']"
3,2231378,the lemon drop kid a new york city swindler is...,The Lemon Drop Kid,"['Screwball comedy', 'Comedy']"
4,595909,seventhday adventist church pastor michael cha...,A Cry in the Dark,"['Crime Fiction', 'Drama', 'Docudrama', 'World..."

In [10]:
# Split the data into training and testing sets
df.dropna(subset=['text'], inplace=True)
X = df['text']
y = df['genre']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
tfidf_vectorizer = TfidfVectorizer()
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)
X_test_tfidf = tfidf_vectorizer.transform(X_test)

In [12]:
X_train_tfidf

<33842x160812 sparse matrix of type '<class 'numpy.float64'>'
	with 5227244 stored elements in Compressed Sparse Row format>